// colors
$primary-color: #fee823;
$secondary-color: #25cdc9;
$black-color: #1f1f1f;
$gray-color: #f8f7f7;
$gray-secondary:#767474;
$body-color: #7d7d7d;
$body-reverse-color:#d7d7d7;
$title-color: #414141;
$white-color:#e0e0e0;
$red-color:#cb2027;
$twitter-color:#4eabee;
$white-secondary-color:#f2f2f2;
$white-sidebar-color:#fafafa;
$pagination-color:rgba(52, 52, 52, 0.722);
$pagination-background-color:#e5e9ec;

$shadow:0px 2px 12.09px 0.91px rgba(167, 162, 184, 0.13);

// font sizes
$title-sizes: (
  "h1": 40,
  "h2": 35,
  "h3": 28,
  "h4": 22,
  "h5": 18,
  "h6": 16,
);
// font families
$primary_font_family: "Oswald", sans-serif;
$secondary_font_family: "Roboto", sans-serif;