
#featured-courses {
  padding: 110px 0px;
  position: relative;
  .title {
    h2 {
      margin: 0 0 30px 0;
      span {
        color: $secondary-color;
      }
    }
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 75px 0;
    .nav-item {
      a {
        border: none;
        line-height: 34px;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 20px;
        margin: 0 7.5px 10px;
        background: transparent;
        color: $gray-secondary;
        border-radius: 30px;
        transition: 0.3s linear;
      }
    }
  }
  .tabb-content {
    .tabb-pane {
      .featured-courses-content {
        text-align: right;
        padding-right: 30px;
        .ingredients-span {
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 2px;
          display: block;
          margin-bottom: 15px;
          line-height: 1;
          color: $gray-secondary;
        }
        h2 {
          span {
            color: $secondary-color;
          }
        }
        p {
          color: $body-color;
        }
      }
    }
  }
  .about-triangle {
    position: absolute;
    left: 7%;
    top: 0;
    z-index: -1;
  }
  .about-circle {
    position: absolute;
    right: 6%;
    top: 24%;
    z-index: -1;
  }
  .about-math {
    background-image: url("../img/featured_courses_shape.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 366px;
    margin: 0 auto;
    z-index: -1;
  }
}
#about-categories {
  background-image: url("../img/cta_bg.jpg");
  padding-top: 110px;
  padding-bottom: 120px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $black-color;
    opacity: 0.7;
    z-index: -1;
  }
  .title {
    h2 {
      font-size: 37px;
      margin-bottom: 20px;
      margin-top: 0px;
      font-style: normal;
      font-weight: 500;
      color: lighten($color: $white-color, $amount: 3);
      span {
        color: $primary-color;
      }
    }
    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 28px;
      color: $white-color;
    }
  }
}
#testimonial {
  background-image: url('../img/testimonial_bg.jpg');
  background-position: center;
  background-size: cover;
  padding-bottom: 120px;
  padding-top: 110px;
  .testimonial-slider {
    .item {
      background: #fff;
      position: relative;
      z-index: 1;
      padding: 70px 40px 50px;
      transform: translateY(0px);
      @include transition(0.3s linear);
      &::before {
        content: "";
        position: absolute;
        left: 13px;
        top: 13px;
        right: 13px;
        bottom: 13px;
        border: 1px solid #ebebeb;
        z-index: -1;
      }
      .quote {
        position: absolute;
        left: 13px;
        top: 13px;
        &::before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          left: 0;
          top: 0;
          border-style: solid;
          border-width: 85px 85px 0 0;
          border-color: $primary-color transparent transparent transparent;
        }
        svg {
          width: 24px;
          height: 24px;
          position: absolute;
          left: 15px;
          top: 15px;
        }
      }

      .rating {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-left: 0px;
        li {
          font-size: 12px;
          color: #e4cf11;
          display: inline-block;
          i {
            margin-right: 5px;
          }
        }
      }

      .content {
        p {
          font-size: 16px;
          font-style: italic;
          letter-spacing: 0.4px;
          margin-bottom: 30px;
          font-weight: 400;
        }

        .author {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .image {
            margin-right: 15px;
            img {
              max-width: 100%;
            }
          }
          .info {
            h6 {
              font-size: 18px;
              line-height: 1;
              margin-bottom: 10px;
            }
            span {
              display: block;
              font-size: 13px;
              font-weight: 500;
              color: $secondary-color;
            }
          }
        }
      }
    }

    .center {
      .item {
        transform: translateY(-10px);
      }
      .quote {
        &::before {
          border-color: $secondary-color transparent transparent transparent;
        }
        svg {
          fill: white;
        }
      }
    }
    .owl-stage {
      padding: 20px 0px;
    }
  }
}
#team-vision {
  padding: 120px 0px;
  .title {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 50px;
      height: 2.5px;
      margin: 0 auto;
    }
    h2 {
      span {
        color: $secondary-color;
      }
    }
  }
  .team-box {
    &:hover {
      .team-thumb {
        &::before {
          width: 100%;
        }
        .team-social {
          right: 0px;
        }
      }
    }
    .team-thumb {
      position: relative;
      overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 100%;
        transition: 0.5s;
        opacity: 0.57;
        background-color: $secondary-color;
      }
      img {
        width: 100%;
      }
      .team-social {
        position: absolute;
        right: -65px;
        top: 0;
        height: 100%;
        width: 65px;
        text-align: center;
        padding: 30px 0;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: darken($color: $secondary-color, $amount: 1);
        list-style: none;
        li {
          margin: 0 0 15px 0;
          a {
            i {
              color: lighten($color: $white-color, $amount: 1);
            }
          }
        }
        li:last-child {
          margin: 0px;
        }
      }
    }
    .team-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      h4 {
        margin: 0px;
        a {
          color: $black-color;
          text-decoration: none;
        }
      }
    }
  }
}
#about-newsletter {
  padding: 120px 0px;
  background-image: url("../img/newsletter_bg.jpg");
  background-position: top center;
  background-size: cover;
  position: relative;
  z-index: 1;
  .title {
    color: lighten($color: $white-color, $amount: 3);

    span {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      display: block;
      margin-bottom: 15px;
      line-height: 1;
    }
    h2 {
      font-size: 36px;
      margin-bottom: 20px;
    }
    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 28px;
    }
  }
  .newsletter-form {
    background-image: url("../img/newsletter_shape.png");
    margin-left: 40px;
    background-size: cover;
    background-position: left center;
    padding: 35px 30px 45px 65px;
    label {
      display: inline-block;
      color: $title-color;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
      margin-bottom: 20px;
    }
    form {
      display: flex;
      align-items: center;
      input {
        border: none;
        background: #fff;
        color: #666666;
        font-weight: 500;
        padding: 14px 20px;
        flex-grow: 1;
        font-size: 14px;
        
      }
      button {
        text-transform: uppercase;
        border: none;
        padding: 0 20px;
        background: #25cdc9;
        color: #fff;
        line-height: 49px;
        width: 150px;
        margin-left: 8px;
        border: medium none;
        border-radius: 0;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        i{
          margin: 0 3px 0 0;
        }
      }
    }
  }
.newsletter-bell{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8%;
  z-index: -1;
}
}
