#blog-details {
  padding: 120px 0px;
  background-color: $gray-color;
  .blog-details {
    background-color: #fff;
    &__thumb {
      img {
        width: 100%;
      }
    }
    &__content {
      border: 1px solid #f4f4f4;
      padding: 35px 35px 25px;
      h4 {
        margin: 0 0 30px 0;
        font-family: $primary_font_family;
      }
      &__meta {
        margin: 0 0 15px 0;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          color: $gray-color;
          li {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 500;
            color: $body-color;
            line-height: 1;
            margin-bottom: 10px;
            position: relative;
            padding-right: 15px;
            margin-right: 15px;
            display: block;
            &:not(:last-child):before {
              content: "|";
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              color: #979797;
            }
            a {
              color: $body-color;
            }
            i {
              margin: 0 8px 0 0;
            }
          }
        }
      }
      p {
        margin-bottom: 20px;
        line-height: 28px;
        color: $body-color;
        font-weight: 500;
        font-family: $secondary_font_family;
      }
      blockquote {
        margin: 30px 0;
        font-size: 14px;
        font-weight: 700;
        font-style: italic;
        text-transform: uppercase;
        line-height: 1.7;
        color: #414141;
        position: relative;
        z-index: 1;
        &::before {
          content: "";
          position: absolute;
          right: 62px;
          top: -30px;
          background-image: url("../img/quote.png");
          width: 84px;
          height: 70px;
          background-repeat: no-repeat;
          z-index: -1;
        }
      }
      h5{
        font-family: $primary_font_family;
        margin: 20px 0px;
      }
      &__list{
        padding: 17px;
        li{
          margin: 0 0 6px 0;
    color:$body-color;
    font-family: 'Roboto';
        }
      }
      &__social {
        ul {
          position: relative;
          display: flex;
          justify-content: space-between;
          list-style: none;
          margin: 55px 0 0 0;
          padding: 20px 0 0 14px;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 1px;
            background: lighten($color: $body-color, $amount: 1);
          }
          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: -3px;
            width: 100%;
            height: 1px;
            background: lighten($color: $body-color, $amount: 1);
          }
        }
        &__tag {
          i {
            color: $twitter-color;
          }
          a {
            color: $black-color;
            font-weight: 600;
          }
        }
        &__share a {
          display: inline-block;
          height: 30px;
          width: 30px;
          line-height: 30px;
          background: #385594;
          text-align: center;
          font-size: 12px;
          border-radius: 50%;
          color: #fff;
          margin-left: 5px;
          &:nth-child(2) {
            background: $twitter-color;
          }
          &:nth-child(3) {
            background: $red-color;
          }
        }
      }
      &__avatar {
        display: flex;
        align-items: center;
        border: 1px solid #ebebeb;
        padding: 25px 40px 25px 20px;
        margin: 60px 0;
        &__thumb {
          margin: 0 20px 0 0;
          img {
            border-radius: 50%;
          }
        }
      }
      &__comment {
        display: flex;
        flex-direction: column;
        h5 {
          span {
            color: $twitter-color;
          }
        }
        ul {
          list-style: none;
          padding: 0;
          li {
            display: flex;
            padding-bottom: 30px;
            border-bottom: 1px dashed $body-color;
            overflow: hidden;
            margin-bottom: 30px;
          }
        }
        &__avatar {
          margin: 0 25px 0 0;
          img {
            border-radius: 50%;
          }
        }
        &__text {
          &__info {
            display: flex;
            justify-content: space-between;
            h5 {
            }
            a {
              color: $black-color;
              i {
                color: $twitter-color;
                margin: 0 5px 0 0;
              }
            }
          }
        }
      }
      &__reply {
        textarea {
          width: 100%;
          padding: 20px 20px;
          border: none;
          margin-bottom: 20px;
          background: $white-secondary-color;
          height: 170px;
          color: $body-color;
          transition: 0.3s;
          resize: none;
          outline: none;
        }
        input {
          width: 100%;
          padding: 18px 20px;
          border: none;
          margin-bottom: 20px;
          background: $white-secondary-color;
          color: $body-color;
          transition: 0.3s;
          outline: none;
        }
        button {
          font-weight: 600;
        }
      }
    }
  }
}
