
#courses {
  position: relative;
  padding: 110px 0px;

  .courses {
    margin-top: 50px;
    .item {
      margin-bottom: 50px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0px 2px 12.09px 0.91px rgba(167, 162, 184, 0.13);
      .photo {
        position: relative;
        img {
          max-width: 100%;
          border-radius: 6px 6px 0 0;
        }
        .label {
          position: absolute;
          left: 0;
          top: 20px;
          padding: 0 15px 0 20px;
          background: $primary-color;
          line-height: 28px;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          font-family: $primary_font_family;
          color: $title-color;

          &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 14px 0 14px 15px;
            border-color: transparent transparent transparent $primary-color;
            right: -15px;
          }
        }
      }

      .info {
        border: 1px solid #ebebeb;
        border-radius: 0 0 6px 6px;
        padding: 25px 20px 20px;
        .category {
          font-size: 14px;
          font-weight: 500;
          color: $body-color;
          a {
            font-style: italic;
            color: $secondary-color;
          }
        }

        h5 {
        
          a{
            font-size: 18px;
            font-family: $primary_font_family;
            color: $title-color;
            line-height: 1.5;
            margin-bottom: 0;
          }
        }

        .rating {
          ul {
            list-style: none;
            display: flex;
            padding: 0;
            list-style: none;
            justify-content: space-between;
          }
          &__info {
            display: flex;
            &__star {
              margin: 0 15px 0 0;
              display: flex;
                padding:  7px 0 0 0;
              i {
                color: $primary-color;
                font-size: 12px;
                
              }
            }
            &__point {
            }
          }
          &__level {
            i {
              color: $secondary-color;
            }
            span{
              font-family: $primary_font_family;
              font-weight: 500;
              font-size: 14px;
              color:$gray-secondary;
            }
          }
        }

        .bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 20px;
          border-top: 1px solid #e1e1e1;
          .author {
            color: $title-color;
            a {
              font-style: italic;
              color: $body-color;
            }
          }
          .price {
            font-size: 16px;
            color: $title-color;
            font-family: $primary_font_family;
            line-height: 1;
          }
        }
      }
    }
  }
}
#courses-category {
  background-image: url("../img/category_bg.jpg");
  background-position: center;
  background-size: cover;
  padding: 110px 0px;
  .category-title {
    margin: 0 0 70px 0;
    padding: 0 0 15px 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 50px;
      height: 2.5px;
      margin: 0 auto;
      background-color: $twitter-color;
    }
    h2 {
      font-size: 36px;
      margin: 0 0 20px 0;
      span {
        color: $twitter-color;
      }
    }
    p {
    }
  }
  .category-item {
   
    a {
      transition: all 0.6s ease;
      
      &::before {
        content: "";
        position: absolute;
        left: 10px;
        top: 10px;
        right: 10px;
        bottom: 10px;
        border: 1px dotted rgb(231, 231, 231);
        z-index: -1;
        box-shadow: $shadow;
      }
      &:hover {
        transform: translateY(-7px);
      }
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background: #fff;
      padding: 34px 20px;
      position: relative;
      transform: translateY(0);
      margin: 0 10px 20px;
      z-index: 1;
      i {
        color: $twitter-color;
        display: block;
        font-size: 60px;
        line-height: 1;
        margin-bottom: 15px;
      }
      span {
        color: $black-color;
        display: block;
        font-size: 16px;
        line-height: 1.6;
        font-weight: 500;
      }
    }
  }
}
