#vision-area {
  height: 100vh;
  background-image: url("../img/slider_bg01.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  .vision-content {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -24px;
      background-color: $primary-color;
      width: 0.4%;
      height: 100%;
      z-index: 6;
    }
    h6 {
      font-family: $secondary_font_family;
      color: lighten($color: #fff, $amount: 3);
      font-size: 18px;
      font-style: italic;
      img {
      }
    }
    h2 {
      font-family: $primary_font_family;
      color: lighten($color: #fff, $amount: 3);
      font-size: 80px;
      line-height: 1.2;
      margin-bottom: 40px;
      span {
        color: $primary-color;
      }
    }
    a {
      font-weight: 600;
    }
  }
}
#lessons {
  position: relative;
  padding: 110px 0px;
background-color: $gray-color;
  .lessons {
    .lesson-item {
      position: relative;
      margin-bottom: 20px;
      .info {
        position: absolute;
        bottom: 40px;
        text-align: center;
        left: 11px;
        width: 100%;
        @include transition(all 0.3s ease-out 0s);
        a {
          border-radius: 6px;
          background-color: rgba(255, 255, 255, 0.4);
          color: #fff;
          display: inline-block;
          padding: 13px 20px;
          font-size: 16px;
          font-weight: 500;
          font-family: $primary_font_family;
          margin-bottom: 15px;
          opacity: 0;
          @include transition(all 0.3s ease-out 0s);
          i {
            font-size: 20px;
            margin-right: 10px;
            color: $primary-color;
          }

          span {
            color: white;
          }
        }

        h3 {
          font-size: 20px;
          color: #fff;
          margin-bottom: 10px;
        }
        span {
          color: $primary-color;
        }
      }

      &:hover {
        .info {
          transform: translateY(-10px);

          a {
            opacity: 1;
          }
        }
      }
    }
  }

  .paths {
    padding-top: 100px;
    font-family:$secondary_font_family;
    font-weight: 500;
    font-size: 14px;
    color: $body-color;
    font-style: normal;
    .text {
      & > span {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: block;
        margin-bottom: 15px;
        line-height: 1;
        color: $secondary-color;
      }
      h3 {
        font-size: 36px;
        margin-bottom: 20px;
        font-family:$primary_font_family;
        color: $black-color;
        span {
          color: $secondary-color;
        }
      }
    }

    .progress-bars {
      .item {
        margin-bottom: 20px;
        .info {
          display: flex;
          justify-content: space-between;
          align-content: center;
          margin-bottom: 11px;
          font-family: $primary_font_family;
          color: #414141;
        }
        .progress {
          height: 10px;
          border-radius: 0;
          .bg-warning {
            background-color: darken(
              $color: $primary-color,
              $amount: 10
            ) !important;
          }
          .bg-success {
            background-color: darken(
              $color: $secondary-color,
              $amount: 10
            ) !important;
          }
          .bg-dark {
            background-color: darken(
              $color: $black-color,
              $amount: 10
            ) !important;
          }
        }
      }
    }
  }
}

#home-categories {
  background-image: url("../img/cta_bg.jpg");
  padding-top: 110px;
  padding-bottom: 120px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $black-color;
    opacity: 0.7;
    z-index: -1;
  }
  .title {
    h2 {
      font-family: $primary_font_family;
      font-size: 37px;
      margin-bottom: 20px;
      margin-top: 0px;
      font-style: normal;
      font-weight: 500;
      color: lighten($color: $white-color, $amount: 3);
      span {
        color: $primary-color;
      }
    }
    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 28px;
      color: $white-color;
    }
  }
}
#isotope {
  position: relative;
  padding: 70px 0 110px;
  .isotope-menu {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 24px 0 22px;
    margin: 0px 40px 60px 0;
    box-shadow: $shadow;
    button {
      background-color: white;
      font-size: 16px;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      color: $body-color;
      margin-left: 0;
      margin-right: 0;
      padding: 0 35px;
      border-radius: 0;
      position: relative;
      border: none;
      outline: none;
      &:not(:last-child) {
        &::before {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 36px;
          width: 1px;
          background: #e3e3e3;
        }
      }
      &.active {
        color: $twitter-color;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -19px;
          height: 3px;
          width: 37px;
          margin: 0 auto;
          background-color: $twitter-color;
          transition: 0.3s linear;
        }
      }
    }
  }
  .courses {
    .item {
      margin-bottom: 50px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0px 2px 12.09px 0.91px rgba(167, 162, 184, 0.13);
      .photo {
        position: relative;
        img {
          max-width: 100%;
          border-radius: 6px 6px 0 0;
        }
        .label {
          position: absolute;
          left: 0;
          top: 20px;
          padding: 0 15px 0 20px;
          background: $primary-color;
          line-height: 28px;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          font-family: $primary_font_family;
          color: $title-color;

          &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 14px 0 14px 15px;
            border-color: transparent transparent transparent $primary-color;
            right: -15px;
          }
        }
      }

      .info {
        border: 1px solid #ebebeb;
        border-radius: 0 0 6px 6px;
        padding: 25px 20px 20px;
        .category {
          font-size: 14px;
          font-weight: 500;
          color: $body-color;
          a {
            font-style: italic;
            color: $secondary-color;
          }
        }

        h5 {
        
          a{
            font-size: 18px;
            font-family: $primary_font_family;
            color: $title-color;
            line-height: 1.5;
            margin-bottom: 0;
          }
        }

        .rating {
          ul {
            list-style: none;
            display: flex;
            padding: 0;
            list-style: none;
            justify-content: space-between;
          }
          &__info {
            display: flex;
            &__star {
              margin: 0 15px 0 0;
              display: flex;
                padding:  7px 0 0 0;
              i {
                color: $primary-color;
                font-size: 12px;
                
              }
            }
            &__point {
            }
          }
          &__level {
            i {
              color: $secondary-color;
            }
            span{
              font-family: $primary_font_family;
              font-weight: 500;
              font-size: 14px;
              color:$gray-secondary;
            }
          }
        }

        .bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 20px;
          border-top: 1px solid #e1e1e1;
          .author {
            color: $title-color;
            a {
              font-style: italic;
              color: $body-color;
            }
          }
          .price {
            font-size: 16px;
            color: $title-color;
            font-family: $primary_font_family;
            line-height: 1;
          }
        }
      }
    }
  }
}
#lessons{
  .lesson-item{
    img{
      width: 100%;
    }
  }
  .text{
    p{
      margin-bottom: 36px;
    }
  }
}

#home-category {
  background-image: url("../img/category_bg.jpg");
  background-position: center;
  background-size: cover;
  padding: 110px 0px;

  .category-item {
    a {
      transition: all 0.6s ease;

      &::before {
        content: "";
        position: absolute;
        left: 10px;
        top: 10px;
        right: 10px;
        bottom: 10px;
        border: 1px dotted rgb(231, 231, 231);
        z-index: -1;
        box-shadow: $shadow;
      }
      &:hover {
        transform: translateY(-7px);
      }
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background: #fff;
      padding: 34px 20px;
      position: relative;
      transform: translateY(0);
      margin: 0 10px 20px;
      z-index: 1;
      i {
        color: $twitter-color;
        display: block;
        font-size: 60px;
        line-height: 1;
        margin-bottom: 15px;
      }
      span {
        color: $title-color;
        display: block;
        font-size: 16px;
        line-height: 1.6;
        font-weight: 500;
      }
    }
  }
}
#article {
  padding: 100px 0px;
  position: relative;
  .article-bg {
    background-image: url("../img/blog_bg.jpg");
    position: absolute;
    left: 0;
    top: -46px;
    width: 100%;
    height: 540px;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }
  .article-title {
    text-align: center;
    position: relative;
    padding: 0 0 25px 0;
    margin: 0 0 70px 0;
    color: #fff;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 50px;
      height: 2.5px;
      margin: 0 auto;
      background-color: $white-color;
    }
    h2 {
      margin: 0 0 20px 0;
      font-family: $primary_font_family;
      font-size: 36px;
     
    }
    p {
      font-family: $secondary_font_family;
      font-size: 14px;
    }
  }
  .article-post__item {
    background: #fff;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    &__thumb {
      position: relative;
      a {
        img {
          width: 100%;
        }
      }
      .tag {
        position: absolute;
        right: 20px;
        bottom: 0;
        padding: 0 15px;
        height: 36px;
        line-height: 36px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        background: $primary-color;
        color: $title-color;
        border-radius: 6px 6px 0px 0px;
      }
      .tag-twitter {
        background-color: $twitter-color;
        color: $white-color;
      }
      .tag-black {
        background-color: $black-color;
        color: $white-color;
      }
    }
    &__content {
      padding: 35px 30px 35px;
      box-shadow: 0px 14px 17px 2px rgba(167, 162, 184, 0.13);
      &__meta {
        ul {
          margin: 0 0 15px 0;
          padding: 0;
          list-style: none;
          display: flex;
          li {
            margin: 0 20px 0 0;
            font-size: 12px;
            text-transform: uppercase;
            color: $body-color;
            font-weight: 500;
            letter-spacing: 2px;
            i {
              margin: 0 4px 0 0;
            }
            a {
              margin: 0 0 0 4px;
              color: $body-color;
            }
          }
        }
      }
      h4 {
        margin: 0 0 14px 0;
        
        &:hover{
          a{
            color: $secondary-color;
          }
         
        }

        a {
          font-size: 18px;
          color: $black-color;
          transition: all 0.6s ease-in-out;
          text-decoration: none;
          font-family: $primary_font_family;
        }
      }
      p {
        font-size: 14px;
        color: $body-color;
      }
      a {
        color: $black-color;
        span {
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 4px 0 4px 4px;
          border-color: transparent transparent transparent $title-color;
          margin-left: 30px;
          position: relative;
          transition: 0.4s linear;
          &::before {
            content: "";
            position: absolute;
            right: 4px;
            top: 50%;
            transform: translateY(-50%);
            width: 22px;
            height: 2px;
            background: $title-color;
            transition: 0.4s linear;
          }
        }
        &:hover {
          span {
            margin-left: 50px;
            &::before {
              width: 42px;
            }
          }
        }
      }
    }
  }
}

