@media (max-width: 991.98px) {
    header {
        .header-top {
          display: none;
        }
       .nav-first {
          top: 0;
          .navbar {
            .navbar-collapse {
              display: none;
            }
          }
          .header-actions {
            display: none;
          }
    
          .mobile-nav-toggler {
            display: block;
          }
        }
      }
    
      footer {
        #footer {
          .about,
          .quick-links,
          .popular-courses,
          .twitter-feed {
            margin-bottom: 50px;
          }
        }
    
        #copyright {
          .text {
            text-align: center;
            p {
              margin-bottom: 10px;
            }
          }
          .photo {
            text-align: center;
          }
        }
      }
    #breadcrumb{
        .title{
            h2{
                font-size: 25px;
                text-align: center;
            }
        }
    }
    .courses-search{
        &__box{
            form{
                display: block;
            }
            &__input{
                width: 100%;
                margin: 0 0 10px 0;
             i{
                 display: none;
             }
             input{
              padding-left: 15px;
             }
            }
            &__select{
                width: 100%;
                margin: 0 0 10px 0;
            }
            button{
                width: 100%;
                margin: 0 0 10px 0;
            }
        }
    }
}